.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Meme-Collage-768x768.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    z-index: -5;
}
.color-change {
    background-color: rgb(255, 174, 0) !important;
    padding: 15px;

}
.font-size {
    font-size: 38px;
}